<div data-box="info">
	<div class="info-wrapper">
		
		<div class="field">
			<div class="info-area">
				<div class="icon icon-pipette"></div>
				
				<div class="info-row">
					<span class="label">H:</span>
					<span class="value hslH"></span>
				</div>
				<div class="info-row">
					<span class="label">S:</span>
					<span class="value hslS"></span>
				</div>
				<div class="info-row">
					<span class="label">V:</span>
					<span class="value hslV"></span>
				</div>
			</div>

			<div class="info-area">
				<div class="icon icon-pipette"></div>
				
				<div class="info-row">
					<span class="label">R:</span>
					<span class="value rgbR"></span>
				</div>
				<div class="info-row">
					<span class="label">G:</span>
					<span class="value rgbG"></span>
				</div>
				<div class="info-row">
					<span class="label">B:</span>
					<span class="value rgbB"></span>
				</div>
			</div>
		</div>

		<div class="divider"></div>
		
		<div class="field">
			<div class="info-area">
				<div class="icon icon-cursor_pos"></div>
				
				<div class="info-row">
					<span class="label">X:</span>
					<span class="value mouseX"></span>
				</div>
				<div class="info-row">
					<span class="label">Y:</span>
					<span class="value mouseY"></span>
				</div>
			</div>

			<div class="info-area">
				<div class="icon icon-comparison_pos"></div>
				
				<div class="info-row">
					<span class="label">X:</span>
					<span class="value comparisonX"></span>
				</div>
				<div class="info-row">
					<span class="label">Y:</span>
					<span class="value comparisonY"></span>
				</div>
			</div>
		</div>

		<div class="divider"></div>

		<div class="field">
			<div class="info-area">
				File: N/A <!-- 242 Kb / 1,7 Mb -->
			</div>
		</div>

	</div>
</div>
