<div data-box="presets">
	<div class="box-tools">
		<div class="option">
			<span class="value">None</span>
		</div>
		<div class="option opt-tiny" data-options="knob" data-min="0" data-max="100" data-suffix="%">
			<span class="label">Strength</span>
			<span class="value">100%</span>
		</div>
	</div>
	<div class="box-content-wrapper presets-wrapper">
		<div class="control">
			<span class="label">Grain</span>
			<div class="knob" data-value="0" data-min="0" data-max=".25" data-step="0.001"></div>
			<span class="value">0.0</span>
		</div>

		<div class="control">
			<span class="label">Vignette</span>
			<div class="knob" data-value="0" data-min="0" data-max="10" data-step="0.1"></div>
			<span class="value">0.0</span>
		</div>

		<div class="control">
			<span class="label">Light Leak</span>
			<div class="knob" data-value="0" data-min="0" data-max="2" data-step="0.01"></div>
			<span class="value">0.0</span>
		</div>

		<div class="control">
			<span class="label">Brightness</span>
			<div class="pan-knob" data-value="0" data-min="0" data-max="2" data-step="0.01"></div>
			<span class="value">1.0</span>
		</div>

		<div class="control">
			<span class="label">Blacks</span>
			<div class="pan-knob" data-value="0" data-min="-0.5" data-max="0.5" data-step="0.01"></div>
			<span class="value">0.0</span>
		</div>

		<div class="control">
			<span class="label">Contrast</span>
			<div class="pan-knob" data-value="0" data-min="-1" data-max="1" data-step="0.01"></div>
			<span class="value">0.0</span>
		</div>

		<div class="control">
			<span class="label">Temp.</span>
			<div class="knob" data-value="0" data-min="3000" data-max="25000" data-step="50"></div>
			<span class="value">6500</span>
		</div>

		<div class="control">
			<span class="label">Vibrance</span>
			<div class="pan-knob" data-value="0" data-min="-1" data-max="1" data-step="0.01"></div>
			<span class="value">0.0</span>
		</div>

		<div class="control">
			<span class="label">Saturation</span>
			<div class="pan-knob" data-value="0" data-min="-1" data-max="1" data-step="0.01"></div>
			<span class="value">0.0</span>
		</div>
	</div>
	<div class="box-foot">

	</div>
</div>
