<div data-box="effects">
	<div class="box-tools">
		<div class="option">
			<span class="value">None</span>
		</div>
		<div class="option opt-tiny" data-options="knob" data-min="0" data-max="100" data-suffix="%">
			<span class="label">Strength</span>
			<span class="value">100%</span>
		</div>
	</div>
	<div class="box-content-wrapper effects-wrapper">
		<div class="control">
			<span>Grain</span>
			<div class="knob" data-value="20"></div>
			<span>0.0</span>
		</div>

		<div class="control">
			<span>Vignette</span>
			<div class="knob" data-value="40"></div>
			<span>0.0</span>
		</div>

		<div class="control">
			<span>Light Leak</span>
			<div class="knob" data-value="30"></div>
			<span>0.0</span>
		</div>

		<div class="control">
			<span>Brightness</span>
			<div class="pan-knob" data-value="0"></div>
			<span>0.0</span>
		</div>

		<div class="control">
			<span>Blacks</span>
			<div class="pan-knob" data-value="0"></div>
			<span>0.0</span>
		</div>

		<div class="control">
			<span>Contrast</span>
			<div class="pan-knob" data-value="0"></div>
			<span>0.0</span>
		</div>

		<div class="control">
			<span>Temp.</span>
			<div class="knob" data-value="0"></div>
			<span>6500</span>
		</div>

		<div class="control">
			<span>Vibrance</span>
			<div class="pan-knob" data-value="0"></div>
			<span>0.0</span>
		</div>

		<div class="control">
			<span>Saturation</span>
			<div class="pan-knob" data-value="0"></div>
			<span>0.0</span>
		</div>
	</div>
	<div class="box-foot">

	</div>
</div>
