<div data-box="presets">
	<div class="box-tools">
		<div class="option" data-menu="preset-list">
			<span class="value">None</span>
		</div>
		<div class="option opt-tiny" data-options="knob" data-min="0" data-max="100" data-suffix="%">
			<span class="label">Strength</span>
			<span class="value">100%</span>
		</div>
	</div>
	<div class="box-content-wrapper presets-wrapper">
		<div class="box-content-body">
			<div class="control grain">
				<span class="label">Grain</span>
				<div class="knob" data-value="0" data-min="0" data-max=".25" data-step="0.001" data-emit="control-change"></div>
				<span class="value"><!-- value --></span>
			</div>

			<div class="control vignette">
				<span class="label">Vignette</span>
				<div class="knob" data-value="0" data-min="0" data-max="10" data-step="0.1" data-emit="control-change"></div>
				<span class="value"><!-- value --></span>
			</div>

			<div class="control vignetteRadius">
				<span class="label">V. Radius</span>
				<div class="knob" data-value="1" data-min="0.01" data-max="2" data-step="0.01" data-emit="control-change"></div>
				<span class="value"><!-- value --></span>
			</div>

			<div class="control lightLeak">
				<span class="label">Light Leak</span>
				<div class="knob" data-value="0" data-min="0" data-max="2" data-step="0.01" data-emit="control-change"></div>
				<span class="value"><!-- value --></span>
			</div>

			<div class="control lightLeakIntensity">
				<span class="label">L. Intensity</span>
				<div class="knob" data-value="0" data-min="0" data-max="2" data-step="0.01" data-emit="control-change"></div>
				<span class="value"><!-- value --></span>
			</div>

			<div class="control lightLeakScale">
				<span class="label">L. Scale</span>
				<div class="knob" data-value="0" data-min="0.25" data-max="1" data-step="0.01" data-emit="control-change"></div>
				<span class="value"><!-- value --></span>
			</div>

			<div class="control brightness">
				<span class="label">Brightness</span>
				<div class="knob" data-value="0" data-min="0" data-max="2" data-step="0.01" data-emit="control-change"></div>
				<span class="value"><!-- value --></span>
			</div>

			<div class="control blacks">
				<span class="label">Blacks</span>
				<div class="pan-knob" data-value="0" data-min="-0.5" data-max="0.5" data-step="0.01" data-emit="control-change"></div>
				<span class="value"><!-- value --></span>
			</div>

			<div class="control contrast">
				<span class="label">Contrast</span>
				<div class="pan-knob" data-value="0" data-min="-1" data-max="1" data-step="0.01" data-emit="control-change"></div>
				<span class="value"><!-- value --></span>
			</div>

			<div class="control temperature">
				<span class="label">Temp.</span>
				<div class="knob" data-value="0" data-min="3000" data-max="25000" data-step="50" data-emit="control-change"></div>
				<span class="value"><!-- value --></span>
			</div>

			<div class="control vibrance">
				<span class="label">Vibrance</span>
				<div class="pan-knob" data-value="0" data-min="-1" data-max="1" data-step="0.01" data-emit="control-change"></div>
				<span class="value"><!-- value --></span>
			</div>

			<div class="control saturation">
				<span class="label">Saturation</span>
				<div class="pan-knob" data-value="0" data-min="-1" data-max="1" data-step="0.01" data-emit="control-change"></div>
				<span class="value"><!-- value --></span>
			</div>
		</div>
	</div>
	<div class="box-foot">

	</div>
</div>
