<content>
	<div class="cvs-wrapper">
		<canvas class="canvas" width="1" height="1"></canvas>
		<div class="compare hidden">
			<span class="left-arrow"></span>
			<span class="right-arrow"></span>
		</div>
	</div>

	<div class="workspace">
		<div class="sidebar-wrapper">

			<div class="sidebar-box">
				<div class="box-head" data-click="box-head-tab">
					<div data-content="navigator" class="active">Navigator</div>
					<div data-content="histogram">Histogram</div>
					<div data-content="info">Info</div>
				</div>
				<div class="box-body">
					<!-- content goes here -->
					@import "boxes/box-navigator.htm"
					@store "boxes/box-histogram.htm"
					@store "boxes/box-info.htm"
				</div>
			</div>

			<div class="sidebar-box">
				<div class="box-head" data-click="box-head-tab">
					<div data-content="presets" class="active">Presets</div>
				</div>
				<div class="box-body">
					<!-- content goes here -->
					@import "boxes/box-presets.htm"
				</div>
			</div>

		</div>
	</div>
</content>
