<content>
	<div class="cvs-wrapper">
		<canvas class="canvas" width="1" height="1"></canvas>
	</div>

	<div class="workspace">
		<div class="sidebar-wrapper">

			<div class="control">
				<span>Grain</span>
				<div class="knob" data-value="0"></div>
				<span>0.0</span>
			</div>

			<div class="control">
				<span>Vignette</span>
				<div class="knob" data-value="0"></div>
				<span>0.0</span>
			</div>

			<div class="control">
				<span>Light Leak</span>
				<div class="knob" data-value="0"></div>
				<span>0.0</span>
			</div>

			<div class="control">
				<span>Brightness</span>
				<div class="pan-knob" data-value="0"></div>
				<span>0.0</span>
			</div>

			<div class="control">
				<span>Contrast</span>
				<div class="pan-knob" data-value="0"></div>
				<span>0.0</span>
			</div>

			<div class="control">
				<span>Temp.</span>
				<div class="knob" data-value="0"></div>
				<span>6500</span>
			</div>

			<div class="control">
				<span>Vibrance</span>
				<div class="pan-knob" data-value="0"></div>
				<span>0.0</span>
			</div>
		</div>
	</div>
</content>
