
//background: #444;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	&.show-sidebar {
		// padding-right: 233px;

		.sidebar {
			right: 0;
		}
	}

	&.show-blank-view {
		.blank-view { display: block; }
		.workspace,
		.cvs-wrapper { display: none; }
	}

	&.cover:after,
	&.no-cursor:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
		background: transparent;
	}

	&.no-cursor:before {
		cursor: none;
	}

	.icon {
		position: relative;
		background-size: 0px;
		width: 17px;
		height: 17px;
		margin: 0 2px;
		z-index: 2;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.5;
			background-image: inherit;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			filter: invert(50%) brightness(50%) drop-shadow(0 1px 0 #f0f0f0);
			width: inherit;
			height: inherit;
			transition: opacity 80ms ease-in-out;
		}

		&.icon-r				{ background-image: url(~/icons/icon-r.png); }
		&.icon-g				{ background-image: url(~/icons/icon-g.png); }
		&.icon-b				{ background-image: url(~/icons/icon-b.png); }
		&.icon-rgb				{ background-image: url(~/icons/icon-rgb-mix.png); }
		&.icon-pipette			{ background-image: url(~/icons/tool-pipette.png); }
		&.icon-cursor_pos		{ background-image: url(~/icons/icon-cursor-pos.png); }
		&.icon-comparison_pos	{ background-image: url(~/icons/icon-comparison-pos.png); }
		&.icon-new				{ background-image: url(~/icons/icon-new.png); }
		&.icon-compare			{ background-image: url(~/icons/icon-compare.png); }
		&.icon-save				{ background-image: url(~/icons/icon-save.png); }
		&.icon-reset			{ background-image: url(~/icons/icon-reset.png); }
		&.icon-saved			{ background-image: url(~/icons/icon-saved.png); }
		&.icon-trashcan			{ background-image: url(~/icons/icon-trashcan.png); }
	}

	[class*="icon-"],
	[class^="icon-"] {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		
		&.icon-file-image  { background-image: url(~/icons/icon-file-image.png); }
		&.icon-folder-open { background-image: url(~/icons/icon-folder-open.png); }
		&.icon-clipboard   { background-image: url(~/icons/icon-clipboard.png); }
	}

	.bg-checker {
		background: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
		background-repeat: repeat, repeat;
		background-position: 0px 0, 10px 10px;
		background-origin: padding-box, padding-box;
		background-clip: border-box, border-box;
		background-size: 20px 20px, 20px 20px;
		transform: scaleX(1) scaleY(1) scaleZ(1);
	}

	.blank-view {
		display: none;
		background: #ddd;
		color: #777;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		h2 {
			height: 47px;
			text-align: center;
			font-size: 29px;
			font-weight: 100;
			padding-top: 19px;
			margin-bottom: 13px;
			color: #555;
		}

		> div {
			font-size: 0;
			padding: 17px 0 17px 47px;

			> h3 {
				font-size: 15px;
				font-weight: 400;
				margin-bottom: 5px;
				color: #555;
			}
		}

		.block-buttons {
			padding: 17px 47px;
			height: 47px;
			text-align: center;

			.btn {
				display: inline-block;
				background: rgba(255,255,255,.25);
				font-size: 13px;
				margin-right: 11px;
				padding: 9px 13px 6px;
				border-radius: 17px;
				box-shadow: inset 0 0 0 2px rgba(0,0,0,.1);
				cursor: pointer;

				&:hover:not(.disabled_) {
					box-shadow: 0 0 0 3px #489bf770,
								inset 0 0 0 2px #489bf7;
				}

				&.disabled_ {
					background: transparent;
					opacity: .5;
					cursor: default;
				}

				i {
					position: relative;
					top: -2px;
					opacity: .175;
					margin-right: 2px;
				}
			}
		}

		.block-samples {
			height: 167px;

			.sample {
				display: inline-block;
				background-color: #ccc;
				background-size: 0 0;
				position: relative;
				width: 113px;
				height: 113px;
				margin: 0 21px 13px 0;
				border-radius: 5px;
				cursor: pointer;
				box-shadow: 0 0 0 3px #ccc,
							inset 0 0 0 3px #ccc;

				&:hover {
					box-shadow: 0 0 0 3px #489bf770,
								inset 0 0 0 3px #489bf7;
				}

				&:after {
					content: "";
					background: inherit;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					top: 2px;
					left: 2px;
					right: 2px;
					bottom: 2px;
				}
			}
		}

		.block-recent {
			flex: 1;

			.recent-file {
				background: rgba(0,0,0,.075);
				display: inline-block;
				position: relative;
				width: 173px;
				height: 151px;
				margin: 0 17px 47px 0;
				padding: 5px 0 0;
				text-align: center;
				border-radius: 11px;
				cursor: pointer;

				&:before {
					content: "";
					position: absolute;
					top: 5px;
					left: 5px;
					right: 5px;
					bottom: 5px;
					border-radius: 7px;
					// background: rgba(255,255,255,.35);
					background: linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), linear-gradient(45deg, rgba(0, 0, 0, 0.0980392) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, 0.0980392) 75%, rgba(0, 0, 0, 0.0980392) 0), white;
					background-repeat: repeat, repeat;
					background-position: 0px 0, 6px 6px;
					background-origin: padding-box, padding-box;
					background-clip: border-box, border-box;
					background-size: 12px 12px, 12px 12px;
					transform: scaleX(1) scaleY(1) scaleZ(1);
					pointer-events: none;
				}

				&:hover {
					box-shadow: 0 0 0 3px #489bf770,
								inset 0 0 0 2px #489bf7;
				}

				.thumbnail {
					position: absolute;
					top: 5px;
					left: 5px;
					right: 5px;
					bottom: 5px;
					border-radius: 7px;
					pointer-events: none;
					background-position: 50% 50%;
					background-size: contain;
					background-repeat: no-repeat;
				}

				.name {
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					padding-top: 5px;
					font-size: 13px;
					pointer-events: none;
				}
			}
		}
	}

	.cvs-wrapper {
		height: 0;

		canvas {
			position: absolute;
		    top: 0;
		    left: 0;
		    z-index: 2;
		    cursor: crosshair;
		    border-radius: 0 0 5px 5px;
		}

		.compare {
			display: none;
			position: absolute;
		    z-index: 3;
			width: 37px;
			height: 37px;
			border-radius: 50%;
			border: 2px solid #fff;
			background: rgba(255,255,255,.4);
			box-shadow: 0 2px 4px rgba(0,0,0,.35);
			cursor: col-resize;

			&.active {
				display: block;
			}

			&:before,
			&:after {
				content: "";
				position: absolute;
				bottom: 100%;
				left: 16px;
				width: 1px;
				height: 9999px;
				background: #fff;
				pointer-events: none;
				box-shadow: 0 0 1px rgba(0,0,0,.5);
			}
			&:after {
				bottom: auto;
				top: 100%;
			}

			.left-arrow,
			.right-arrow {
				position: absolute;
				top: 50%;
				margin-top: -6px;
				display: block;
				width: 0;
				height: 0;
				border: 6px inset transparent;
				filter: drop-shadow(0 1px 1px rgba(0,0,0,.4));
				pointer-events: none;
			}
			.left-arrow {
				left: 0;
				border-right: 6px solid #fff;
			}
			.right-arrow {
				right: 0;
				border-left: 6px solid #fff;
			}
		}
	}

	.workspace {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.sidebar {
		position: absolute;
		top: 0;
		bottom: 0;
		right: -233px;
		width: 233px;
		color: #888;
		z-index: 12;
		display: flex;
		flex-direction: column;
		background: var(--sidebar-bg);
		border-left: 1px solid var( --sidebar-border );
		overflow: hidden;
		transition: right 240ms;

		.sidebar-box {
			position: relative;
			display: flex;
			flex-direction: column;
			border-top: 2px solid rgba(#000, .175);

			&:first-child {
				border-top-width: 0;
			}

			&:last-child {
				flex: 1;
			}

			.box-head {
				background-color: rgba(0,0,0,.025);
				font-size: 0;
				user-select: none;

				> div {
					display: inline-block;
					color: #666;
					text-transform: uppercase;
					font-size: 10px;
					padding: 8px 11px 7px;
					border-right: 1px solid rgba(#000, .15);

					&.active {
						background: rgba(255,255,255,0.25);
						color: #555;
						text-shadow: 0 1px 0 rgba(255,255,255,0.5);
						//border-right: 1px solid rgba(#000, .2);
					}
				}
			}

			.box-tools {
				background: rgba(240,240,240,.25);
				padding: 5px 7px 0;
				border-bottom: 1px solid rgba(#000, .2);
				height: 31px;
				display: flex;

				.option:first-child {
					flex: 1;

					.value {
						width: 95px;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}

			.box-body {
				position: relative;
				flex: 1;

				.divider {
					background: rgba(#666, .25);
					height: 1px;
					margin: 3px 0;
				}

				div[data-box] {
					display: none;
					height: 100%;
					border-top: 1px solid rgba(#555, .25);

					&.active {
						display: flex;
						flex-direction: column;
					}

					.box-content-wrapper {
						flex: 1;
						position: relative;

						.box-content-body {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							overflow-y: auto;
						}
					}
				}

				.navigator-wrapper {
					position: relative;
					margin: 7px auto 6px;
					height: 121px;
					max-width: 220px;
					//border: 1px solid rgba(#000, .65);

					// .nav-cvs,
					.view-rect {
						opacity: 0;
						width: 0;
						height: 0;
					}

					> div {
						position: absolute;
						// top: 50%;
						// transform: translateY(-50%);
					}

					canvas.nav-cvs {
						// position: absolute;
						// top: 0;
						// left: 0;
						box-shadow: 0 0 0 1px rgba(#000, .65);
						opacity: 1;
						transition: opacity 100ms 120ms ease-in-out;
						margin-bottom: -2px;
					}

					.view-rect {
						position: absolute;
						top: 0;
						left: 0;
						width: inherit;
						height: inherit;
						background: transparent;
						border: 2px solid #ff7474;
						cursor: move;
						opacity: 1;
						transition: opacity 100ms 120ms ease-in-out;
					}
				}

				.histogram-wrapper {
					height: 121px;
					padding: 5px 5px;

					.histogram-cvs {
						background: #ccccccd0;
						width: 222px;
						height: 111px;
						box-shadow: inset 0 0 0 1px #c0c0c0
					}
				}

				.info-wrapper {
					padding: 3px 0 13px;
					font-size: 11px;
					color: rgba(#555, .5);

					.field {
						display: flex;

						&:last-child .info-area {
							padding-top: 5px;
							padding-left: 7px;
							//color: rgba(#eff, .45);
						}
					}

					.info-area {
						position: relative;
						padding-left: 29px;
						flex: 1;

						> .icon {
							position: absolute;
							top: 50%;
							left: 5px;
							width: 15px;
							height: 15px;
							transform: translateY(-50%);
							background-size: 0 0;
						}

						.info-row {
							padding: 2px 0;
							display: flex;

							&.hidden { display: none; }

							.label {
								display: inline-block;
								vertical-align: middle;
								padding: 3px 7px 0 0;
								font-size: 11px;
								//color: rgba(#eff, .45);
							}

							.value {
								height: 17px;
								padding: 3px 0 0;
								width: 43px;
							}
						}
					}
				}

				.presets-wrapper {
					.box-content-body {
						padding: 8px 9px;
						font-size: 0;
					}
				}
			}

			.box-foot {
				background: rgba(#fff, .15);
				border-top: 1px solid rgba(#000, .2);
				height: 23px;
				padding: 3px 3px;
				font-size: 0;
				display: flex;

				&.right {
					justify-content: flex-end;

					.icon {
						margin: 0 0 0 5px;
					}
				}

				> div {
					display: inline-block;
					vertical-align: middle;
					font-size: 11px;
					color: #eee;
					text-shadow: 0 1px 0 rgba(#000, .35);
				}

				.value {
					background: rgba(0,0,0,.175);
					color: #fff;
					padding: 3px 1px 0 0;
					border-radius: 3px;
					margin-right: 5px;
					width: 53px;
					text-align: center;
					user-select: none;
				}

				.icon {
					position: relative;
					background-size: 0px;
					width: 17px;
					height: 17px;
					margin: 0 3px;
					cursor: pointer;

					&.mini:after {
						background-image: url(~/icons/icon-mountain-mini.png);
					}

					&.maxi:after {
						background-image: url(~/icons/icon-mountain.png);
					}

					&.active {
						background-color: #fff;
						box-shadow: 0 0 0 1px #dcdcdc;
						border-radius: 2px;

						&:after {
							filter: brightness(50%) drop-shadow(0 1px 0 #f7f7f7);
						}
					}

					&.disabled {
						opacity: 0.35;

						&[style*="selection-ring"] {
							opacity: 0.85;
						}
					}

					&:hover:not(.disabled):not(.active):after {
						opacity: 1;
					}

					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: inherit;
						height: inherit;
						opacity: 0.4;
						background-size: contain;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						filter: invert(40%) brightness(50%) drop-shadow(0 1px 0 #f7f7f7);
					}
				}

				.zoom-slider {
					display: flex;
					flex: 1;
					padding: 0 7px 0 1px;

					input {
						display: inline-block;
						vertical-align: middle;
						margin: 0 7px;
						height: 16px;

						&::-webkit-slider-thumb {
							//background: #9aa;
							box-shadow: 0 0 0 1px #aaa;
							height: 10px;
							width: 10px;
							margin-top: -4px;
							border: 0;
						}
						&::-webkit-slider-runnable-track {
							//background: #f90;
							height: 2px;
							//box-shadow: 0 1px 0 rgba(#000, 0.2)
						}
					}
				}
			}
		}

		.option {
			display: flex;

			&.opt-tiny .value { width: 60px; }

			&:not(:first-child) {
				margin-left: 7px;
			}

			.label {
				color: #777;
				font-size: 10px;
				margin-right: 5px;
				padding-top: 6px;
				text-transform: uppercase;
				user-select: none;
			}

			.value {
				position: relative;
				font-size: 11px;
				color: #666;
				text-shadow: 0 1px 0 #eee;
				padding: 5px 31px 3px 9px;
				white-space: nowrap;
				border-radius: 4px;
				height: 20px;
				display: inline-block;
				flex: 1;
				background: linear-gradient(to bottom, rgba(235,235,235,.55), rgba(170,170,170,.35));
				box-shadow: inset 0 0 0 1px rgba(60,60,60,.3),
							inset 0 2px 0 rgba(255,255,255,.3),
							0 1px 1px rgba(0,0,0,.05);

				&:before {
					content: "";
					position: absolute;
					top: 4px;
					bottom: 4px;
					right: 16px;
					width: 0;
					border-left: 1px solid #b2b2b2;
					border-right: 1px solid #e8e8e8;
				}

				&:after {
					content: "";
					background: url(~/icons/icon-arrow.png) 50% 50%/contain no-repeat;
					position: absolute;
					top: 7px;
					right: 5px;
					width: 7px;
					height: 7px;
					filter: drop-shadow(0 1px 0 #fff);
				}
			}
		}

		.control {
			background: linear-gradient(to bottom, rgba(235,235,235,.55), rgba(170,170,170,.35));
			display: inline-block;
			width: 67px;
			//height: 85px;
			border-radius: 5px;
			margin: 0 6px 6px 0;
			padding: 5px;
			font-size: 11px;
			text-align: center;
			box-shadow: inset 0 0 0 1px rgba(60,60,60,.3),
						inset 0 2px 0 rgba(255,255,255,.3),
						0 1px 1px rgba(0,0,0,.05);

			&:not(.temperature) {
				display1: none;
			}

			&:nth-child(3n) {
				margin-right: 0;
			}

			.knob,
			.pan-knob {
				margin: 7px 0 3px;
			}

			span {
				display: block;

				&:nth-child(1) {
					color: #777;
					text-shadow: 0 1px 1px #f5f5f5;
				}

				&:nth-child(3) {
					background: rgba(0,0,0,.15);
					color: #eee;
					text-shadow: 0 1px 1px #777;
					border-radius: 3px;
					padding: 3px 0 2px;
					height: 16px;
				}
			}
		}
	}

	.knob {
		position: relative;
		display: inline-block;
		width: 34px;
		height: 34px;
		margin: 1px 3px 0;
		background: url(~/icons/knob.png) no-repeat;
		background-size: 100% auto;
		text-transform: uppercase;
		text-align: center;
		font-size: 10px;
		font-weight: 100;
		color: #69e;
		text-shadow: 0 0 0;
		filter: drop-shadow(0 1px 0 rgba(255,255,255,.75));
		//background-color: rgba(0,0,0,.1);

		&[data-label]:before {
			content: attr(data-label);
			position: absolute;
			bottom: -3px;
			left: 0;
			right: 0;
			z-index: 3;
			pointer-events: none;
		}

		&[data-title]:before {
			content: attr(data-title);
			position: absolute;
			bottom: -11px;
			left: -11px;
			right: -11px;
			z-index: 3;
			pointer-events: none;
		}

		&[data-value="0"], &[data-value="1"] { background-position: 0 0; } 
		&[data-value="2"], &[data-value="3"] { background-position: 0 -34px; }
		&[data-value="4"], &[data-value="5"] { background-position: 0 -68px; }
		&[data-value="6"], &[data-value="7"] { background-position: 0 -102px; }
		&[data-value="8"], &[data-value="9"] { background-position: 0 -136px; }
		&[data-value="10"], &[data-value="11"] { background-position: 0 -170px; }
		&[data-value="12"], &[data-value="13"] { background-position: 0 -204px; }
		&[data-value="14"], &[data-value="15"] { background-position: 0 -238px; }
		&[data-value="16"], &[data-value="17"] { background-position: 0 -272px; }
		&[data-value="18"], &[data-value="19"] { background-position: 0 -306px; }
		&[data-value="20"], &[data-value="21"] { background-position: 0 -340px; }
		&[data-value="22"], &[data-value="23"] { background-position: 0 -374px; }
		&[data-value="24"], &[data-value="25"] { background-position: 0 -408px; }
		&[data-value="26"], &[data-value="27"] { background-position: 0 -442px; }
		&[data-value="28"], &[data-value="29"] { background-position: 0 -476px; }
		&[data-value="30"], &[data-value="31"] { background-position: 0 -510px; }
		&[data-value="32"], &[data-value="33"] { background-position: 0 -544px; }
		&[data-value="34"], &[data-value="35"] { background-position: 0 -578px; }
		&[data-value="36"], &[data-value="37"] { background-position: 0 -612px; }
		&[data-value="38"], &[data-value="39"] { background-position: 0 -646px; }
		&[data-value="40"], &[data-value="41"] { background-position: 0 -680px; }
		&[data-value="42"], &[data-value="43"] { background-position: 0 -714px; }
		&[data-value="44"], &[data-value="45"] { background-position: 0 -748px; }
		&[data-value="46"], &[data-value="47"] { background-position: 0 -782px; }
		&[data-value="48"], &[data-value="49"] { background-position: 0 -816px; }
		&[data-value="50"], &[data-value="51"] { background-position: 0 -850px; }
		&[data-value="52"], &[data-value="53"] { background-position: 0 -884px; }
		&[data-value="54"], &[data-value="55"] { background-position: 0 -918px; }
		&[data-value="56"], &[data-value="57"] { background-position: 0 -952px; }
		&[data-value="58"], &[data-value="59"] { background-position: 0 -986px; }
		&[data-value="60"], &[data-value="61"] { background-position: 0 -1020px; }
		&[data-value="62"], &[data-value="63"] { background-position: 0 -1054px; }
		&[data-value="64"], &[data-value="65"] { background-position: 0 -1088px; }
		&[data-value="66"], &[data-value="67"] { background-position: 0 -1122px; }
		&[data-value="68"], &[data-value="69"] { background-position: 0 -1156px; }
		&[data-value="70"], &[data-value="71"] { background-position: 0 -1190px; }
		&[data-value="72"], &[data-value="73"] { background-position: 0 -1224px; }
		&[data-value="74"], &[data-value="75"] { background-position: 0 -1258px; }
		&[data-value="76"], &[data-value="77"] { background-position: 0 -1292px; }
		&[data-value="78"], &[data-value="79"] { background-position: 0 -1326px; }
		&[data-value="80"], &[data-value="81"] { background-position: 0 -1360px; }
		&[data-value="82"], &[data-value="83"] { background-position: 0 -1394px; }
		&[data-value="84"], &[data-value="85"] { background-position: 0 -1428px; }
		&[data-value="86"], &[data-value="87"] { background-position: 0 -1462px; }
		&[data-value="88"], &[data-value="89"] { background-position: 0 -1496px; }
		&[data-value="90"], &[data-value="91"] { background-position: 0 -1530px; }
		&[data-value="92"], &[data-value="93"] { background-position: 0 -1564px; }
		&[data-value="94"], &[data-value="95"] { background-position: 0 -1598px; }
		&[data-value="96"], &[data-value="97"] { background-position: 0 -1632px; }
		&[data-value="98"], &[data-value="99"] { background-position: 0 -1666px; }
		&[data-value="100"] { background-position: 0 -1700px; }
	}

	.pan-knob {
		position: relative;
		display: inline-block;
		width: 34px;
		height: 34px;
		margin: 1px 3px 0;
		background: url(~/icons/pan-knob.png) no-repeat;
		background-size: 100% auto;
		filter: drop-shadow(0 1px 0 rgba(255,255,255,.75));

		&:before {
			content: "";
			position: absolute;
			top: -3px;
			left: 14px;
			border-left: 3px solid transparent;
			border-right: 3px solid transparent;
			border-top: 5px solid #999;
		}

		&[data-value="-50"], &[data-value="-49"] { background-position: 0 0;  }
		&[data-value="-48"], &[data-value="-47"] { background-position: 0 -34px; }
		&[data-value="-46"], &[data-value="-45"] { background-position: 0 -68px; }
		&[data-value="-44"], &[data-value="-43"] { background-position: 0 -102px; }
		&[data-value="-42"], &[data-value="-41"] { background-position: 0 -136px; }
		&[data-value="-40"], &[data-value="-39"] { background-position: 0 -170px; }
		&[data-value="-38"], &[data-value="-37"] { background-position: 0 -204px; }
		&[data-value="-36"], &[data-value="-35"] { background-position: 0 -238px; }
		&[data-value="-34"], &[data-value="-33"] { background-position: 0 -272px; }
		&[data-value="-32"], &[data-value="-31"] { background-position: 0 -306px; }
		&[data-value="-30"], &[data-value="-29"] { background-position: 0 -340px; }
		&[data-value="-28"], &[data-value="-27"] { background-position: 0 -374px; }
		&[data-value="-26"], &[data-value="-25"] { background-position: 0 -408px; }
		&[data-value="-24"], &[data-value="-23"] { background-position: 0 -442px; }
		&[data-value="-22"], &[data-value="-21"] { background-position: 0 -476px; }
		&[data-value="-20"], &[data-value="-19"] { background-position: 0 -510px; }
		&[data-value="-18"], &[data-value="-17"] { background-position: 0 -544px; }
		&[data-value="-16"], &[data-value="-15"] { background-position: 0 -578px; }
		&[data-value="-14"], &[data-value="-13"] { background-position: 0 -612px; }
		&[data-value="-12"], &[data-value="-11"] { background-position: 0 -646px; }
		&[data-value="-10"], &[data-value="-9"] { background-position: 0 -680px; }
		&[data-value="-8"], &[data-value="-7"] { background-position: 0 -714px; }
		&[data-value="-6"], &[data-value="-5"] { background-position: 0 -748px; }
		&[data-value="-4"], &[data-value="-3"] { background-position: 0 -782px; }
		&[data-value="-2"], &[data-value="-1"] { background-position: 0 -816px; }
		&[data-value="0"] { background-position: 0 -850px; &:before { border-top-color: transparent; } }
		&[data-value="2"], &[data-value="1"] { background-position: 0 -884px; }
		&[data-value="4"], &[data-value="3"] { background-position: 0 -918px; }
		&[data-value="6"], &[data-value="5"] { background-position: 0 -952px; }
		&[data-value="8"], &[data-value="7"] { background-position: 0 -986px; }
		&[data-value="10"], &[data-value="9"] { background-position: 0 -1020px; }
		&[data-value="12"], &[data-value="11"] { background-position: 0 -1054px; }
		&[data-value="14"], &[data-value="13"] { background-position: 0 -1088px; }
		&[data-value="16"], &[data-value="15"] { background-position: 0 -1122px; }
		&[data-value="18"], &[data-value="17"] { background-position: 0 -1156px; }
		&[data-value="20"], &[data-value="19"] { background-position: 0 -1190px; }
		&[data-value="22"], &[data-value="21"] { background-position: 0 -1224px; }
		&[data-value="24"], &[data-value="23"] { background-position: 0 -1258px; }
		&[data-value="26"], &[data-value="25"] { background-position: 0 -1292px; }
		&[data-value="28"], &[data-value="27"] { background-position: 0 -1326px; }
		&[data-value="30"], &[data-value="29"] { background-position: 0 -1360px; }
		&[data-value="32"], &[data-value="31"] { background-position: 0 -1394px; }
		&[data-value="34"], &[data-value="33"] { background-position: 0 -1428px; }
		&[data-value="36"], &[data-value="35"] { background-position: 0 -1462px; }
		&[data-value="38"], &[data-value="37"] { background-position: 0 -1496px; }
		&[data-value="40"], &[data-value="39"] { background-position: 0 -1530px; }
		&[data-value="42"], &[data-value="41"] { background-position: 0 -1564px; }
		&[data-value="44"], &[data-value="43"] { background-position: 0 -1598px; }
		&[data-value="46"], &[data-value="45"] { background-position: 0 -1632px; }
		&[data-value="48"], &[data-value="47"] { background-position: 0 -1666px; }
		&[data-value="50"], &[data-value="49"] { background-position: 0 -1700px; }
	}
}
