
[data-ui="royale-beige"] {
	.win-body_ content {
		
	}
}

[data-ui="royale-amber"] {
	.win-body_ content {
		sidebar {
			background: #2d2214;

			.sidebar-box {
				background: #2d2214 radial-gradient(circle at top center, #6d4f2cab 0, transparent 100%);

				.box-head {
					background: radial-gradient(ellipse at bottom center, #ffa90052, transparent 50%),
								radial-gradient(ellipse at top center, #c98c3f17, transparent 75%),
								linear-gradient(180deg, #6f6551 0px, #4b3f29 13px, #352916 13px, #1f1200 24px);

					> div {
						color: #eccbb49e;

						&:not(:first-child) {
							border-left: 1px solid #ffdab812;
						}

						&.active {
							background: transparent;
							color: #fff1e6;
						}
					}
				}

				.box-tools {
					background: #ba8e7845;
				}

				.control {
					background: #ab6d4712 radial-gradient(circle at top center, #ab6d4754 0, transparent 90%);
					box-shadow: 0 0 0;

					.knob,
					.pan-knob {
						filter: hue-rotate(240deg) invert(1) saturate(1.5) brightness(1.25) drop-shadow(0 1px 0 #000);
					}

					span.label {
						color: #ffe4d4;
					}

					span.value {
						background: rgba(#000,.125);
						color: #ffe4d4;
					}
				}
			}
		}
	}
}

[data-ui="royale-black"] {
	.win-body_ content {
		sidebar {
			background: #242252;

			.sidebar-box {
				background: #242252 radial-gradient(circle at top center, #535099 0, transparent 90%);

				.box-head {
					background: radial-gradient(ellipse at bottom center, #38b3ff63, transparent 60%),
								radial-gradient(ellipse at top center, #1f6b8347, transparent 50%),
								linear-gradient(180deg, #53516f 0px, #2c294b 12px, #1e1c44 13px, #141438 24px);

					> div {
						color: #b4b7ec9e;

						&:not(:first-child) {
							border-left: 1px solid #d1c9ff12;
						}

						&.active {
							background: transparent;
							color: #e6f4ff;
						}
					}
				}

				.box-tools {
					background: #5f5caa61;
				}

				.control {
					background: #8c9ac912 radial-gradient(circle at top center, #5961ac8f 0, transparent 90%);
					box-shadow: 0 0 0;

					.knob,
					.pan-knob {
						filter: hue-rotate(170deg) invert(1) saturate(1.5) brightness(1.15) drop-shadow(0 1px 0 #000);
					}

					span.label {
						color: #d4dcff;
					}

					span.value {
						background: rgba(#000,.125);
						color: #d4dcff;
					}
				}
			}
		}
	}
}

[data-ui="royale-emerald"] {
	.win-body_ content {
		sidebar {
			background: #113713;

			.sidebar-box {
				background: #113713 radial-gradient(circle at top center, #357945 0, transparent 90%);

				.box-head {
					background: radial-gradient(ellipse at bottom center, #07ff0044, transparent 65%),
								radial-gradient(ellipse at top center, #9bffb010, transparent 45%),
								linear-gradient(180deg, #668565 0px, #39543d 12px, #1a401b 13px, #152f1a 24px);

					> div {
						color: #b4ecba9e;

						&:not(:first-child) {
							border-left: 1px solid #c9ffd512;
						}

						&.active {
							background: transparent;
							color: #e6ffe7;
						}
					}
				}

				.box-tools {
					background: #509b4d33;
				}

				.control {
					background: #8cc98d12 radial-gradient(circle at top center, #5dac598f 0, transparent 90%);
					box-shadow: 0 0 0;

					.knob,
					.pan-knob {
						filter: hue-rotate(170deg) invert(1) saturate(1.5) brightness(1.15) drop-shadow(0 1px 0 #000);
					}

					span.label {
						color: #d4ffd9;
					}

					span.value {
						background: rgba(#000,.125);
						color: #d4ffd9;
					}
				}
			}
		}
	}
}

[data-ui="royale-pink"] {
	.win-body_ content {
		sidebar {
			background: #f4a7ff;
			border-left-color: #a13e9570;

			&:before {
				left: -2px;
			}

			&:after {
				display: none;
			}

			.sidebar-box {
				background: #f4a7ff radial-gradient(circle at top center, #d080c6 0, transparent 90%);

				.box-head {
					background: radial-gradient(ellipse at bottom center, #ffdaffcc,transparent 70%),
								linear-gradient(180deg, #f7c8ff 0px, #f9a1ff 12px, #e381f9 13px, #f25dff 24px);

					> div {
						color: #fdf4ffe6;

						&:not(:first-child) {
							border-left: 1px solid #ffc9f275;
						}

						&.active {
							background: transparent;
							color: #fff;
						}
					}
				}

				.box-tools {
					background: #ffccff36;
				}

				.box-foot {
					.icon:after {
						opacity: .75;
						filter: none;
					}
				}

				.control {
					background: #bd7fb840 radial-gradient(circle at top center, #fdccff85 0, transparent 90%);
					box-shadow: 0 0 0;

					.knob,
					.pan-knob {
						filter: hue-rotate(170deg) invert(.1) saturate(5) brightness(.25) drop-shadow(0 1px 0 #000);
					}

					span.label {
						color: #fdf4ffe6;
					}

					span.value {
						background: rgba(#000,.1);
						color: #fdf4ffe6;
					}
				}
			}
		}
	}
}

[data-ui="royale-purple"] {
	.win-body_ content {
		sidebar {
			background: #542759;

			.sidebar-box {
				background: #542759 radial-gradient(circle at top center, #895099bb 0, transparent 90%);

				.box-head {
					background: radial-gradient(ellipse at bottom center, #ff58e17d, transparent 70%),
								radial-gradient(ellipse at top center, #f697ff59, transparent 75%),
								linear-gradient(180deg, #73567b 0px, #534259 12px, #2b1c33 13px, #2f1c3b 24px);

					> div {
						color: #e1b4ec9e;

						&:not(:first-child) {
							border-left: 1px solid #f6b8ff12;
						}

						&.active {
							background: transparent;
							color: #ecc9ff;
						}
					}
				}

				.box-tools {
					background: #aa78ba45;
				}

				.control {
					background: #f2d8ff12 radial-gradient(circle at top center, #9a59acbb 0, transparent 90%);
					box-shadow: 0 0 0;

					.knob,
					.pan-knob {
						filter: hue-rotate(240deg) invert(1) saturate(1.5) brightness(1.25) drop-shadow(0 1px 0 #000);
					}

					span.label {
						color: #f3ccff;
					}

					span.value {
						background: rgba(#000,.125);
						color: #f9d4ff;
					}
				}
			}
		}
	}
}
